/* Fonts */

@font-face {
    font-family: nexa;
    src: url('../fonts/nexa/nexalight.otf');
}

@font-face {
    font-family: nexabold;
    src: url('../fonts/nexa/nexabold.otf');
}

/* Global Rules */

nav {
  background-color: #89d57c;
}

footer {
  background-color: #89d57c;
  color: #000;
  height: 5vh;
}

html,
body {
  font-family: nexa, sans-serif;
  -webkit-font-smoothing: antialiased;
   margin: 0;
}

h1, h2 {
  font-family: nexabold;
}

.bg-white {
  background-color: white;
}


/* Global rules on specific elements */
header {
  margin-bottom: 54px;
}

.bigtextdiv {
  padding-top: 20px;
  background-color: #bbe6e2;
  padding-bottom: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Individual Element Rules */
.homecarousel {
  z-index: -1;
}

.homecontainer {
  z-index: 1;
}

